<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,824},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,621},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,621},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,824},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,824},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,621},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,621},{214,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,203}}</string>
                <key>sourceSize</key>
                <string>{214,203}</string>
            </dict>
            <key>circle_eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>circle_eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,44}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>circle_eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,0},{86,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,49}}</string>
                <key>sourceSize</key>
                <string>{86,49}</string>
            </dict>
            <key>circle_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>circle_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>flame1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1044},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1044},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1044},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1044},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1044},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,824},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,824},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,824},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,621},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,621},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,621},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,621},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,441},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{1280,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,171}}</string>
                <key>sourceSize</key>
                <string>{1280,171}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,94},{1280,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,171}}</string>
                <key>sourceSize</key>
                <string>{1280,171}</string>
            </dict>
            <key>sign1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{89,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,96}</string>
            </dict>
            <key>sign2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,0},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,94}</string>
            </dict>
            <key>snow_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,0},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>snow_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,824},{195,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,212}}</string>
                <key>sourceSize</key>
                <string>{195,212}</string>
            </dict>
            <key>stone_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,94},{126,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>stone_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,0},{126,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,80}}</string>
                <key>sourceSize</key>
                <string>{126,80}</string>
            </dict>
            <key>sweat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{174,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,71}}</string>
                <key>sourceSize</key>
                <string>{174,71}</string>
            </dict>
            <key>sweat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,0},{174,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,71}}</string>
                <key>sourceSize</key>
                <string>{174,71}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1044},{366,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,282}}</string>
                <key>sourceSize</key>
                <string>{366,282}</string>
            </dict>
            <key>tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1044},{230,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,282}}</string>
                <key>sourceSize</key>
                <string>{230,282}</string>
            </dict>
            <key>tutorial_click1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,265},{116,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,172}}</string>
                <key>sourceSize</key>
                <string>{116,172}</string>
            </dict>
            <key>tutorial_click2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,265},{116,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,172}}</string>
                <key>sourceSize</key>
                <string>{116,172}</string>
            </dict>
            <key>tutorial_mouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,621},{107,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,196}}</string>
                <key>sourceSize</key>
                <string>{107,196}</string>
            </dict>
            <key>tutorial_mouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,621},{107,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,196}}</string>
                <key>sourceSize</key>
                <string>{107,196}</string>
            </dict>
            <key>tutorial_slide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,265},{140,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,176}}</string>
                <key>sourceSize</key>
                <string>{140,176}</string>
            </dict>
            <key>tutorial_slide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,265},{140,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,176}}</string>
                <key>sourceSize</key>
                <string>{140,176}</string>
            </dict>
            <key>tutorial_slide3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,265},{140,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,176}}</string>
                <key>sourceSize</key>
                <string>{140,176}</string>
            </dict>
            <key>tutorial_updown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,0},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>tutorial_updown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>tutorial_updown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>tutorial_wasd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,0},{137,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,92}}</string>
                <key>sourceSize</key>
                <string>{137,92}</string>
            </dict>
            <key>tutorial_wasd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,0},{137,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,92}}</string>
                <key>sourceSize</key>
                <string>{137,92}</string>
            </dict>
            <key>tutorial_wasd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{137,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,92}}</string>
                <key>sourceSize</key>
                <string>{137,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rungame.png</string>
            <key>size</key>
            <string>{1932,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6d26e72dec439c5ad42a4c14988079:8a0c7a83bc41e1b9ed7053a35fcb8f14:64829ba4e6cc4de1114be4f3b7de5667$</string>
            <key>textureFileName</key>
            <string>rungame.png</string>
        </dict>
    </dict>
</plist>
