<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ previous_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_ previous_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3075,240},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_ previous_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3617,240},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_easy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_easy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_easy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3253,240},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2711,240},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_hard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,240},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_hard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2347,240},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_hard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,240},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_home_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,240},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2912,420},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_home_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3455,420},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_next_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3634,420},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_next_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3812,420},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_next_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,600},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_next_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,600},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_normal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_okay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2184,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_okay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3091,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_okay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2548,420},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_option_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,240},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_option_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,240},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_option_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_pause_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2228,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2050,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_pause_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,240},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_play_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_play_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_play_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_retry_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,60},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>btn_retry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3498,60},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_retry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,240},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>btn_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,240},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,60},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3677,60},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3134,60},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>btn_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2770,60},{364,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,180}}</string>
                <key>sourceSize</key>
                <string>{364,180}</string>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{507,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,122}}</string>
                <key>sourceSize</key>
                <string>{507,122}</string>
            </dict>
            <key>hp_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,0},{336,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,55}}</string>
                <key>sourceSize</key>
                <string>{336,55}</string>
            </dict>
            <key>loadingbar_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{902,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,21}}</string>
                <key>sourceSize</key>
                <string>{902,21}</string>
            </dict>
            <key>loadingbar_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{902,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,21}}</string>
                <key>sourceSize</key>
                <string>{902,21}</string>
            </dict>
            <key>loadingbar_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,0},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1162},{785,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,584}}</string>
                <key>sourceSize</key>
                <string>{785,584}</string>
            </dict>
            <key>ranking_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3315,0},{561,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,60}}</string>
                <key>sourceSize</key>
                <string>{561,60}</string>
            </dict>
            <key>ranking_player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2193,0},{561,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,60}}</string>
                <key>sourceSize</key>
                <string>{561,60}</string>
            </dict>
            <key>ranking_player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2754,0},{561,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,60}}</string>
                <key>sourceSize</key>
                <string>{561,60}</string>
            </dict>
            <key>tutorial_lv1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1162},{761,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,563}}</string>
                <key>sourceSize</key>
                <string>{761,563}</string>
            </dict>
            <key>tutorial_lv1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2720,600},{761,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,562}}</string>
                <key>sourceSize</key>
                <string>{761,562}</string>
            </dict>
            <key>tutorial_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{761,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,563}}</string>
                <key>sourceSize</key>
                <string>{761,563}</string>
            </dict>
            <key>tutorial_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,600},{761,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,562}}</string>
                <key>sourceSize</key>
                <string>{761,562}</string>
            </dict>
            <key>window_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,600},{619,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,526}}</string>
                <key>sourceSize</key>
                <string>{619,526}</string>
            </dict>
            <key>window_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2307,1162},{619,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,693}}</string>
                <key>sourceSize</key>
                <string>{619,693}</string>
            </dict>
            <key>windows1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,600},{620,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,425}}</string>
                <key>sourceSize</key>
                <string>{620,425}</string>
            </dict>
            <key>windows2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,60},{475,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,144}}</string>
                <key>sourceSize</key>
                <string>{475,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rungame_bk.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36cc53caa79c369de7406a02beb3bfa9:24147bd51f77e7af3f23b04b315c3a9b:a068da158a6257f7319fb4e997335fb1$</string>
            <key>textureFileName</key>
            <string>rungame_bk.png</string>
        </dict>
    </dict>
</plist>
