<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>running</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>circle_1.png</string>
				<string>circle_2.png</string>
				<string>circle_3.png</string>
				<string>circle_4.png</string>
				<string>circle_5.png</string>
				<string>circle_6.png</string>
				<string>circle_7.png</string>
				<string>circle_8.png</string>
			</array>
		</dict>
    <key>trackanim</key>
    <dict>
      <key>delay</key>
      <real>0.08</real>
      <key>frames</key>
      <array>
        <string>line1.png</string>
        <string>line2.png</string>
      </array>
    </dict>
    <key>mouseanim</key>
    <dict>
      <key>delay</key>
      <real>0.5</real>
      <key>frames</key>
      <array>
        <string>tutorial_click1.png</string>
        <string>tutorial_click2.png</string>
      </array>
    </dict>
    <key>wasdanim</key>
    <dict>
      <key>delay</key>
      <real>0.5</real>
      <key>frames</key>
      <array>
        <string>tutorial_slide1.png</string>
        <string>tutorial_slide2.png</string>
        <string>tutorial_slide1.png</string>
        <string>tutorial_slide3.png</string>
      </array>
    </dict>
    <key>udanim</key>
    <dict>
      <key>delay</key>
      <real>0.5</real>
      <key>frames</key>
      <array>
        <string>tutorial_updown1.png</string>
        <string>tutorial_updown2.png</string>
        <string>tutorial_updown1.png</string>
        <string>tutorial_updown3.png</string>
      </array>
    </dict>
	</dict>
</dict>
</plist>
