<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bean1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,566},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,972},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,972},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,972},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,972},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,972},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,972},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,972},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_jump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,769},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,566},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave02.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,566},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean1_wave03.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,769},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,769},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,769},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,769},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,769},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>bean2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,769},{131,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,203}}</string>
                <key>sourceSize</key>
                <string>{131,203}</string>
            </dict>
            <key>ceyes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,26},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>ceyes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{83,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,26}}</string>
                <key>sourceSize</key>
                <string>{83,26}</string>
            </dict>
            <key>ceyes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,26},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,26},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>checkboxon.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,26},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>checkoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,26},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>checkon.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,26},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>cmouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>cmouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,0},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>cuber01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1385},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber02.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1385},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1385},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber04.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1175},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber05.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1175},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1175},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1385},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cuber08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1175},{241,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,210}}</string>
                <key>sourceSize</key>
                <string>{241,210}</string>
            </dict>
            <key>cubershadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>flame1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1595},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1595},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1595},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1815},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1815},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1815},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1815},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1595},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>flame2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,206},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,206},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,206},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,26},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,386},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,386},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,386},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,386},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,566},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,566},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,206},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>flame2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,566},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>loadingbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{130,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,17}}</string>
                <key>sourceSize</key>
                <string>{130,17}</string>
            </dict>
            <key>sliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>sliderballnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,26},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sliderballpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,26},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>triblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,26},{168,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,144}}</string>
                <key>sourceSize</key>
                <string>{168,144}</string>
            </dict>
            <key>triouter.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,26},{171,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,168}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>trishadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,0},{137,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,23}}</string>
                <key>sourceSize</key>
                <string>{137,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene101.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79388d21d36ab829cdd50be2804ab739:484a80d42c27659d841e3c8af8231b08:9a04fb8b08cf709da36490be6b44d9f8$</string>
            <key>textureFileName</key>
            <string>scene101.png</string>
        </dict>
    </dict>
</plist>
