<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{16,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,720}}</string>
                <key>sourceSize</key>
                <string>{16,720}</string>
            </dict>
            <key>cuberbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>cuberbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>replaybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>returnbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>s101bgimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>s101line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{1280,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,286}}</string>
                <key>sourceSize</key>
                <string>{1280,286}</string>
            </dict>
            <key>s101line02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1011},{1280,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,286}}</string>
                <key>sourceSize</key>
                <string>{1280,286}</string>
            </dict>
            <key>sr_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1011},{32,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,290}}</string>
                <key>sourceSize</key>
                <string>{32,290}</string>
            </dict>
            <key>sr_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1011},{32,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,290}}</string>
                <key>sourceSize</key>
                <string>{32,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene101bg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d26851f016d6a4674d8a0da0d9972431:ed57e32abc99b6dde6b543795435661c:3ae7ab4bf2d227a3b30df81bb294d8eb$</string>
            <key>textureFileName</key>
            <string>scene101bg.png</string>
        </dict>
    </dict>
</plist>
